@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #022E33;
  --secondary-color: #67CCCC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #022E33;
    --secondary-color: #67CCCC;
  }
}

body {
  color: white;
  background: var(--primary-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
